on:
  workflow_dispatch:
  # push:
  #   branches:
  #     - master
jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to test the action
    steps:
      - uses: actions/checkout@v3

      - name: Tag latest commit
        run: -|

      - name: Renew certificate
        uses: dnw2022/renew-cert-composite-action@__RENEW_CERTS_ACTION_VERSION__
        with:
          organization: "dnw2022"
          github-token: ${{ secrets.GHUB_TOKEN }}
          cloudflare-api-key: ${{ secrets.CLOUDFLARE_API_KEY }}
          cert-secret-name: "TEST_CERT_PFX_BASE64"
          cert-thumbprint-secret-name: "TEST_CERT_THUMBPRINT"
          cert-pfx-base64: ${{ secrets.TEST_CERT_PFX_BASE64 }}
          cert-email: "jeroen_bijlsma@yahoo.com"
          cert-pwd: ${{ secrets.CERT_PWD }}
          cert-domain: "*.dotnet-works.com"
          use-staging: true
