on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: Renew certificate
    steps:
      - uses: actions/checkout@v3
      - id: foo
        uses: dnw2022/renew-cert-composite-action@v0.25
        with:
          organization: "dnw2022"
